@import "tailwindcss";
@plugin "daisyui";

@theme {
  --font-bodoni: var(--font-bodoni-moda), serif;
}

@font-face {
  font-family: "BrickSans";
  src: url("/assets/BrickSans-Bold.otf");
}

::-webkit-scrollbar {
  display: none;
}

.pixelTitle {
  font-family: "BrickSans", sans-serif;
  text-transform: uppercase;
}

:root {
  /* 1. Warna Identitas (Vibrant Pink) */
  --primary: #fb6ba2;
  --primary-light: #ffc2d1;
  --primary-tint: #ffe3ec; /* Sangat terang untuk hover/bg kecil */

  /* 2. Warna Sekunder (Retro Plum/Grape) */
  /* Pengganti Indigo: Lebih selaras dengan Pink daripada biru standar */
  --secondary: #90216b;
  --secondary-light: #bc4e9c;

  /* 3. Background Utama (Cyber Yellow) */
  --background: #f0cc4c;

  /* 4. Warna Kontainer & Permukaan */
  --card-bg: #ffffff;
  --card-bg-alt: #fcfcfc;

  /* 5. Warna Teks (Brutal Clarity) */
  --text-main: #000000;
  --text-alt: #ffffff;
  --text-muted: #4b5563; /* Sedikit lebih terang dari hitam untuk hierarki */

  /* 6. Border & Shadow (The "Brutal" Soul) */
  --border-width: 4px; /* Standar ketebalan retro */
  --border-color: #000000;
  --shadow-color: #000000;

  /* 7. Accent (Opsional: Cyan untuk variasi retro) */
  --accent-cyan: #22d3ee;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: var(--background);
  color: var(--text-main);
  /* Supaya transisi antar section gradasi halus */
  transition: background-color 0.3s ease;
}
